$white: #ffffff;
$black: #030303;
$dark-red: #710707;
$olid: #9D8665;

body {
    background-color: $white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.container {
    width: 1440px;
    margin: 0 auto;
}

.bg-black{
    background-color: $black;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
}

.header_white{
    color: $white;
}

.header_olid{
    color: $white;
}

.header {
    color: $white;
    &__container{
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navbar__list {
    display: flex;
    gap: 55px;

}

